.about {
    padding: 40px 0;
    background-color: var(--section-color-grey);
    @media screen and (min-width: 1200px){
        padding: 60px 0;}
}
.about-text {
    font-size: 20px;
    color: #777777;
    text-align: justify;
    margin-bottom: 30px;
}
.about-list {
    margin-bottom: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -30px;}
    @media screen and (min-width: 1200px){
        flex-wrap: nowrap;}
}
.about__item{
    max-width: 450px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius:  4px;
    @media screen and (min-width: 768px) {
        width: calc(100% / 2 - 30px);
        margin-left: 30px;}
    @media screen and (min-width: 1200px) {
        width: calc(100% / 4 - 30x);}
}

.about__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.about__border-icon{
    background-color:#749bbf;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    position: relative;
    @media screen and (min-width: 768px) {
        width: 100px;
        height: 100px;  
    }
}
.about__icon{
    fill: #ffffff;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (min-width: 768px) {
        width: 54px;
        height: 54px;  
    }

}
.about__title {
    font-size: 16px;
    color: #333333;
    text-align: center;
    margin: 10px 0;
}


.about__par{
    font-size: 14px;
    color: #777777;
    text-align: justify;
    // background-color: #fff5e1e6;
    margin: 10px;  
}