.header{
    // position: fixed;
    // z-index: 3;
    background-color: var(--section-color-white);
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 6px 11px rgba(119, 119, 119, 0.12);
    & .container {
        display: flex;
        align-items: center;}
}
.logo-icon--header {
    fill: #333333cc;
}
.nav {
    display: none;
    margin-left: auto;
    @include desktop {
        display: block;
    }
    &-list {
        display: flex;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 34px;
        }
        
    }
    &__link {
        font-family: "Raleway";
        font-style: normal;
        font-size: 14px;
        color: #333333cc;
        text-transform: uppercase;
        transition-property: color;
        transition: var(--main-transition);
        &:hover,
        &:focus {
            color: #7777778f;
        }
    }
}